# Ignoring dataset folder because of huge memory size.
dataset/
Celebrity Faces Dataset/
data/
celeb_dataset/
new_data/

# Ignoring the checkpoints 
my_checkpoint.pth.tar
checkpoints
*.pth
GANs/ProGAN/critic.pth
GANs/ProGAN/generator.pth
GANs/SRGAN/disc.pth.tar
GANs/SRGAN/gen.pth.tar


# Ignoring the python cache.
__pycache__

# Ignoring the flickr8k dataset due to huge memory size.
flickr8k

# Ignoring the augumented images.
img*.png

# Ignoring datasets for albumentation.
cat_dogs/

# Ignoring tensor-board cache logs.
runs/
logs/